# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
    admin off
}

n8n.mydomain.com {
    tls internal
    reverse_proxy <service-host-ip>:<service-port>
}

postgres.n8n.obs.mydomain.com {
    tls internal
    reverse_proxy <n8n-vm-ip>:9187
}

llm.mydomain.com {
    tls internal
    reverse_proxy <service-host-ip>:<service-port>
}

obs.mydomain.com {  # Grafana dashboard endpoint
    tls internal
    reverse_proxy <service-host-ip>:<service-port>
}


metrics.obs.mydomain.com {  # Prometheus metrics endpoint
    tls internal
    reverse_proxy <service-host-ip>:<service-port>
}


logs.obs.mydomain.com {  # Loki logs endpoint
    tls internal
    reverse_proxy <service-host-ip>:<service-port>
}


#traces.obs.mydomain.com {   # Tempo traces endpoint 
#    tls internal
#    reverse_proxy <service-host-ip>:<service-port>
#}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
