# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.


# IP --> device name or IP address

{
    admin off
}

# =====================================================
# Internal / private services (internal CA)
# =====================================================

mailarchive.mydomain.com {
    tls internal
    reverse_proxy IP:port
}

obs.mydomain.com {
    tls internal
    reverse_proxy IP:port
}

metrics.obs.mydomain.com {
    tls internal
    reverse_proxy IP:port
}

logs.obs.mydomain.com {
    tls internal
    reverse_proxy IP:port
}

# =====================================================
# Public services (*.mydomain.com via Cloudflare DNS)
# =====================================================
*.mydomain.com {

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    # The Lookup Table: maps the subdomain to a port
    map {labels.2} {backend_port} {
        kanban  port
        n8n     port
        cook    port
        links   port
        keep    port
        drive   port
        llm     port
        ollama  port
        photos  port

        # Everything else
        default redirect
    }

    route {
        # Handle actual services:
        # This matches if a port was found and it's not 'skip' or 'redirect'
        @is_service expression `{backend_port} != "redirect"`
        handle @is_service {
            reverse_proxy IP:{backend_port}
        }

        # FALLBACK: If we reached this point, it's a random subdomain.
        handle {
            redir https://www.mydomain.com{uri} 302
        }
    }
}

# =====================================================
# Apex Redirect (The naked domain: mydomain.com)
# =====================================================
mydomain.com {
    redir https://www.mydomain.com{uri} 302
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
